[Unit]
Description=Unsubscribe from CSAPX Github notifications every hour

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy= basic.target
